.form{
    display : flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
}

.form__error{
    margin : $s-size 0 $m-size 0;
    font-style: italic;

}

.field {
    display : flex;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
}
.field__control {
    width:80vw;
    @media(min-width: $desktop-breakpoint){
        width:90vw;
    }
}
.field__button-control {
    width:10vw;
    margin-left:.2rem;
    @media(min-width: $desktop-breakpoint){
        margin-left:.5rem;
        width:10vh;
    }
}

.form__body {
    margin:0 0 $s-size 0;
    font-size:2rem;
    font-weight: 300;
    padding:$m-size;
}

.form__footer-container {
    background: $dark-blue;
    padding:$s-size;
    display: flex;
    justify-content:flex-end;
    margin-bottom: - $m-size;
    button {
        margin-right:.5rem;
    }
}