.text-input {
    border:1px solid #cacacd;
    height:50px;
    padding:$s-size;
    font-size:$font-size-large;
    font-weight: 300;
}

.select {
    @extend .text-input;
}

.input__max-width {
    width:100%;
}
.select__max-width {
    width:100%;
}

.optionDefault
{
    color: #cacacd;
}

.textarea{
    @extend .text-input;
    height:10rem;
}