.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    transition : opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $darkMedium-blue;//darken(#cdcdcd,10%);
    color:white;
    max-width: 35rem;
    outline:none;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.modal--title {
    height:2.2rem;
    padding:$l-size;
    background: $dark-blue;//$grey;
    border-radius: 5px;
    margin:0;
    h3{
        margin:0;
    }
}
.modal--body {
    margin:0 0 $s-size 0;
    font-size:2rem;
    font-weight: 300;
    padding:$m-size;
}

.modal--actions {
    padding:$m-size;
    display: flex;
    justify-content:flex-end;

    button {
        margin-right:.5rem;
    }
}